body{
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height:100vh;
    background-image:url('jamsil.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
.dark{
    background-color:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
    position:absolute;
}
.container{
    background-color:rgba(128, 128, 128, 0.3);
    padding:40px;
    border-radius: 10px;
}
.container .item{
    width:300px;
    box-sizing:border-box;
    height:40px;
    margin:0 0 10px 0;
    position:relative;
}
.container .item .fas{
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    font-size:20px;
    line-height:40px;
    text-align: center;
    box-sizing:border-box;
    transition:all 0.3s ease;
    color:rgba(128, 128, 128, 0.7);
    
}
.container .item input{
    width:inherit;
    height:inherit;
    box-sizing:border-box;
    padding-left: 40px;
    border-radius:5px;
    border:1px solid rgba(128, 128, 128, 0.35);
    outline:none;
    transition:all 0.3s ease;
    cursor:default
    
}
.container .item input[type='text']{}
.container .item input[type='email']{}
.container .item input[type='tel']{}

.container .item input[type]:focus{
box-shadow:0 0 20px #F2D852
}
.container .item input[type]:focus+.fas{
    color:#F2D852
}
.container .item input[type]:focus::placeholder{
    visibility: hidden;
}